{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">

    <div class="row space10"></div>

    <div class="row space50"></div>

    <p class="profile">{{ 'profile.show.email'|trans }} : <strong>{{ user.email }}</strong></p>
    <p class="profile">Nom : <strong>{{ user.nom }}</strong></p>
    <p class="profile">Prénom : <strong>{{ user.prenom }}</strong></p>
    <p class="profile">Numéro de téléphone : <strong>{{ user.numeroDeTelephone }}</strong></p>
    <p class="profile">sociète : <strong>{{ user.identity.society }}</strong></p>
    <p class="profile">Ville : <strong>{{ user.identity.city }}</strong></p>
    <p class="profile">Code postale : <strong>{{ user.identity.zipCode }}</strong></p>
    <p class="profile">Numéro de siret : <strong>{{ user.identity.numberSiret }}</strong></p>
    <p class="profile">Code Naf : <strong>{{ user.identity.codeNaf }}</strong></p>
    <p class="profile">Catégorie professionnelle : <strong>{{ user.identity.professionalCategory }}</strong></p>
    <p class="profile">Type de contrat : <strong>{{ user.identity.typeOfContract }}</strong></p>
    <p class="profile">Formation choisie : <strong>{{ user.identity.selectedTraining }}</strong></p>
    <p class="profile">Mes heures CPF : <strong>{{ user.identity.cpfTime }} Heures</strong></p>
    <p class="profile">pièce d'identité : <strong><a class="btn btn-blue" target="_blank" href="{{ asset('files/'~user.identity.pdfName) }}">pièce d'identité</a></strong></p>
    <p class="profile">carte vitale : <strong><a class="btn btn-blue" target="_blank" href="{{ asset('files2/'~user.identity.pdfName2) }}">carte vitale</a></strong></p>
    <p class="profile">Dérnier bulletin de salaire : <strong><a class="btn btn-blue" target="_blank" href="{{ asset('files3/'~user.identity.pdfName3) }}">Dérnier bulletin de salaire</a></strong></p>
    <p class="profile">Attestation dif: <strong><a class="btn btn-blue" target="_blank" href="{{ asset('files4/'~user.identity.pdfName4) }}">Attestation dif</a></strong></p>


    <div class="row space10"></div>

    <div class="row space50"></div>
</div>
