{% extends 'base.html.twig' %}


{% block body %}

    <!-- Header -->
    <header id="header">
        <div class="container">
            <div class="row t-container">

                <!-- Logo -->
                <div class="span3">
                    <div class="logo">
                        <a href="{{ path('app_front_index') }}"><img src="{{ asset('img/logo-header.png') }}" alt="Logo site web"></a>
                        <span class="text-muted">Trouvez la formation qui vous correspond !</span>
                    </div>
                </div>

                <div class="span9">
                    <div class="row space60"></div>
                    <nav id="nav" role="navigation">
                        <a href="#nav" title="Show navigation">Show navigation</a>
                        <a href="#" title="Hide navigation">Hide navigation</a>
                        <ul class="clearfix">
                            <li><a href="{{ path('app_front_index') }}" title="">ACCUEIL</a></li>
                            <li><a href="{{ path('app_front_etapeasuivre') }}" title="">ÉTAPE A SUIVRE</a></li>
                            <li><a href="{{ path('app_front_formations') }}" title="">LES FORMATIONS</a></li>
                            <li class="active"><a href="{{ path('app_front_monespace') }}" title="">MON ESPACE</a></li>
                            <li><a href="components.htm" title="">E-LEARNING</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row space40"></div>

        </div>
    </header>

    <section id="titlebar">
        <!-- Container -->
        <div class="container">

            <div class="eight columns">
                <h1 class="text-center">MON ESPACE</h1>
            </div>

        </div>
        <!-- Container / End -->
    </section>

    <div class="text-center">
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    </div>
<!-- Content -->
<div id="content">
    <div class="text-center">
        <div class="container">

            {% block fos_user_content %}
            {% endblock fos_user_content %}

        </div>
    </div>
</div>

{% endblock %}
