{% extends 'backOffice/base_admin.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <h1>Listes de tous les utilisateurs récemment inscrits</h1>
        <p class="lead">Retrouver ici tous les utilisateurs inscrivent sur moncpf.info avec toutes leurs informations et leur document</p>

    </div>

    <div class="container" id="tourpackages-carousel">
        <div class="row">


    {% for user in pagination %}

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <div class="caption">
                        <div class='col-lg-12'>
                            <span class="glyphicon glyphicon-credit-card"></span>
                            <span class="glyphicon glyphicon-trash pull-right text-primary"></span>
                        </div>
                        <div class='col-lg-12 well well-add-card'>
                            <h4>{{ user.nom }}</h4>
                            <h4>{{ user.prenom }}</h4>
                        </div>
                        <div class='col-lg-12'>
                            <p>Numéro de téléphone : {{ user.numeroDeTelephone }}</p>
                            <p>Adresse email : </br>{{ user.email }}</p>

                        </div>
                        <a href="{{ path('app_back_detail', {id: user.id}) }}" class="btn btn-primary btn-xs btn-update btn-add-card">Voir</a>
                        <span class='glyphicon glyphicon-exclamation-sign text-danger pull-right icon-style'></span>
                    </div>
                </div>
            </div>


    {% endfor %}

        </div><!-- End row -->
    </div><!-- End container -->
    <div class="espace40"></div>
    <div class="navigation col-sm-4">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}