
        {{ form_start(formContact, {'method': 'post', 'action': path('app_front_contact')}) }}
            <div class="form-main">


                {{ form_widget(formContact.name) }}
                {{ form_errors(formContact.name) }}



                {{ form_widget(formContact.subject) }}
                {{ form_errors(formContact.subject) }}


                {{ form_widget(formContact.email) }}
                {{ form_errors(formContact.email) }}

                {{ form_widget(formContact.message) }}
                {{ form_errors(formContact.message) }}

                </br>

            </div>
        <input type="submit" value="Envoyer" class="btn btn-blue">

        {{ form_end(formContact) }}

        <div>
            {% for message in app.flashes('notice') %}
                <p>
                    {{ message }}
                </p>
            {% endfor %}
        </div>


