{% extends 'base.html.twig' %}



{% block body %}

    <!-- Header -->
    <header id="header">
        <div class="container">
            <div class="row t-container">

                <!-- Logo -->
                <div class="span3">
                    <div class="logo">
                        <a href="{{ path('app_front_index') }}"><img src="img/logo-header.png" alt="Logo site web"></a>
                        <span class="text-muted">Trouvez la formation qui vous correspond !</span></br>
                        <span class="text-muted">Nous contacter au 01 82 02 89 15</span>
                    </div>
                </div>

                <div class="span9">
                    <div class="row space60"></div>
                    <nav id="nav" role="navigation">
                        <a href="#nav" title="Show navigation">Show navigation</a>
                        <a href="#" title="Hide navigation">Hide navigation</a>
                        <ul class="clearfix">
                            <li class="active"><a href="{{ path('app_front_index') }}" title="">ACCUEIL</a></li>
                            <li><a href="{{ path('app_front_etapeasuivre') }}" title="">ÉTAPES A SUIVRE</a></li>
                            <li><a href="{{ path('app_front_formations') }}" title="">LES FORMATIONS</a></li>
                            <li><a href="{{ path('app_front_monespace') }}" title="">MON ESPACE</a></li>
                            <li><a href="https://englishaz.com/Custom520/" title="">E-LEARNING</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row space40"></div>
            <div class="slider1 flexslider">  <!-- Slider -->
                <ul class="slides">
                    <li>
                        <a href="{{ path('app_front_index') }}"><img src="{{ asset('img/class-1227090_1920.jpg') }}" alt="Slider home"></a>
                    </li>
                </ul>
            </div>  <!-- Slider End -->
        </div>
    </header>

    <!-- Header End -->
    <!-- Content -->
    <div id="content">
        <div class="container">
            <div class="f-center">
                <h1>Bienvenue sur moncpf.info</h1>
                <div class="head-info">
                   Utiliser vos heures de formation pour vous former gratuitement à l'une de nos sessions disponible !
                </div>
            </div>
            <div class="f-hr"></div>
            <div class="row space40"></div>
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <!-- Service Container -->
                        <div class="span4">
                            <!-- Service Icon -->
                            <div class="ic-1"><i class="icon-lightbulb"></i></div>
                            <!-- Service Title -->
                            <div class="title-1"><h4>Qu’est-ce qu’une formation professionnelle ? </h4></div>
                            <!-- Service Content -->
                            <div class="text-1">
                                Dans un monde qui ne cesse de changer et d’évoluer, la formation professionnelle est un levier d’accès, de maintien et de retour à l’emploi. Ces dernières années, le taux d’accès des salariés à la formation a considérablement augmenté. Les précédentes réformes ont notamment permis d’adapter l’offre de formation réservée aux adultes aux différentes évolutions technologiques, économiques et sociales.
                            </div>
                        </div>
                        <!-- Service Container End -->
                        <div class="span4">
                            <div class="ic-1"></div>
                            <div class="title-1"><h4>Nos étapes à suivre !</h4></div>
                            <div class="text-1">Comment s'y retrouver avec vos droits CPF, CEC, CPP, DIF, ... ?  Venez par ici on vous tiens par la main</div>
                            <div class="text-1">
                                Pour accéder aux étapes à suivres c'est juste ici !<a class="btn btn-blue" href="{{ path('app_front_etapeasuivre') }}" >étape a suivre</a>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="ic-1"><i class="icon-eye-open"></i></div>
                            <div class="title-1"><h4> À qui se destine ce cursus professionnel ?</h4></div>
                            <div class="text-1">
                                <ul class="list-b">
                                    <li><i class="icon-ok"></i>Aux personnes actives dont les missions vont évoluer et qui ont besoin d’acquérir de nouvelles compétences professionnelles.</li>
                                    <li><i class="icon-ok"></i>Aux personnes en reconversion professionnelle souhaitant changer de métier </li>
                                    <li><i class="icon-ok"></i>La 3ème bonne raison de se former tout au long de la vie est l’obtention d’un diplôme ! Ce diplôme va vous permettre de consolider votre carrière. C’est un vecteur d’insertion professionnelle durable. </li>
                                    <li><i class="icon-ok"></i>Dans un monde qui bouge en continu et dans lequel les métiers évoluent à vitesse grand V, il faut sans cesse se maintenir à niveau </li>
                                    <li><i class="icon-ok"></i>Toutes les expériences d’apprentissage sont importantes pour accroître sa confiance en soi et son estime de soi. </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space40"></div>
                <!-- Service Container -->
                <div class="span4">
                    <!-- Service Title -->
                    <div class="title-1"><h4>Le CPF c’est quoi ? – Le Compte Personnel de Formation en France </h4></div>
                    <!-- Service Content -->
                    <div class="text-1">
                        Le compte personnel formation (CPF) est un dispositif qui permet à toutes les personnes âgées d’au moins 16 ans et engagées dans la vie active d’accéder à la formation professionnelle. Le CPF est appelé à remplacer le droit individuel à la formation (DIF) à partir du 1er janvier 2015. Une fois le dispositif mis en oeuvre, les personnes ayant des heures de DIF non consommées auront cinq ans pour les utiliser.
                    </div>
                </div>
                <!-- Service Container End -->

                <!-- Service Container -->
                <div class="span4">
                    <!-- Service Title -->
                    <div class="title-1"><h4> A qui s’adresse le compte personnel formation ?</h4></div>
                    <!-- Service Content -->
                    <div class="text-1">
                        Ce dispositif s’adresse à toutes les personnes actives, et cela quel que soit leur statut (salariés du privé, demandeurs d’emploi, etc.). A terme, il sera également accessible aux travailleurs indépendants et aux fonctionnaires. Le CPF peut ainsi être ouvert dès l’entrée de la personne sur le marché du travail, et la suivre même si elle change d’emploi ou se retrouve au chômage. A la différence du DIF, ce dispositif est attaché à une personne et non à un contrat de travail.
                    </div>
                </div>
                <!-- Service Container End -->

                <!-- Service Container -->
                <div class="span4">
                    <!-- Service Title -->
                    <div class="title-1"><h4>Comment le compte est-il alimenté ?</h4></div>
                    <!-- Service Content -->
                    <div class="text-1">
                        Dans le cas d’un CDI à temps plein, le dispositif permet d’accumuler 24 heures de formation par an pendant cinq ans, et 12 heures par an au-delà. Au total, la personne peut cumuler 150 heures de formation sur sept ans, contre 120 heures sur six ans avec le DIF. Pour dépasser le socle de 150 heures, il est possible d’effectuer des abondements supplémentaires en suivant des modalités spécifiques.
                    </div>
                </div>
                <!-- Service Container End -->

                <div class="space40"></div>

            <div class="space40"></div>

            <!-- Our Clients -->
            <div class="row">
                <div class="span12">
                    <h3>Nos partenaires</h3>
                </div>
            </div>

            <div id="our-clients" class="slider2 flexslider">
                <ul class="slides">
                    <li>
                        <div class="row">
                            <div class="span2">
                                <a href="" rel="external">
                                    <img src="{{ asset('img/partenaire/isoo-300x120.png') }}" width="150" height="100" alt="">
                                </a>
                            </div>
                            <div class="span2">
                                <a href="" rel="external">
                                    <img src="{{ asset('img/partenaire/p1-1-300x73.png') }}" width="150" height="100" alt="">
                                </a>
                            </div>
                            <div class="span2">
                                <a href="#" rel="external">
                                    <img src="{{ asset('img/partenaire/datadock-1-300x87.jpg') }}" width="150" height="100" alt="">
                                </a>
                            </div>
                            <div class="span2">
                                <a href="#" rel="external">
                                    <img src="{{ asset('img/partenaire/cambridge-300x79.jpg') }}" width="150" height="100" alt="">
                                </a>
                            </div>
                            <div class="span2">
                                <a href="#" rel="external">
                                    <img src="{{ asset('img/partenaire/Logo_centre_de_passation_BULATS-300x212.jpg') }}" width="150" height="100" alt="">
                                </a>
                            </div>
                            <div class="span2">
                                <a href="#" rel="external">
                                    <img src="{{ asset('img/partenaire/logopoleemploi__064221800_1520_09112013-300x240.jpg') }}" width="150" height="100" alt="">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="span2">
                                <a href="#" rel="external">
                                    <img src="{{ asset('img/partenaire/dokelio-300x283.jpg') }}" alt="">
                                </a>
                            </div>
                            <div class="span2">
                                <a href="#" rel="external">
                                    <img src="{{ asset('img/partenaire/preventionroutiere-300x128.png') }}" alt="">
                                </a>
                            </div>
                            <div class="span2">
                                <a href="#" rel="external">
                                    <img src="{{ asset('img/partenaire/DIRECCTE-225x300.jpg') }}" alt="">
                                </a>
                            </div>
                            <div class="span2">
                                <a href="#" rel="external">
                                    <img src="{{ asset('img/partenaire/prefecture93-150x150.jpg') }}" alt="">
                                </a>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
            <!-- Our Clients End -->

            <div class="space40"></div>

        </div>
    </div>
    <!--


{% endblock %}