{% extends 'base.html.twig' %}


{% block body %}

    <!-- Header -->
    <header id="header">
        <div class="container">
            <div class="row t-container">

                <!-- Logo -->
                <div class="span3">
                    <div class="logo">
                        <a href="{{ path('app_front_index') }}"><img src="img/logo-header.png" alt="Logo site web"></a>
                        <span class="text-muted">Trouvez la formation qui vous correspond !</span>
                    </div>
                </div>

                <div class="span9">
                    <div class="row space60"></div>
                    <nav id="nav" role="navigation">
                        <a href="#nav" title="Show navigation">Show navigation</a>
                        <a href="#" title="Hide navigation">Hide navigation</a>
                        <ul class="clearfix">
                            <li><a href="{{ path('app_front_index') }}" title="">ACCUEIL</a></li>
                            <li><a href="{{ path('app_front_etapeasuivre') }}" title="">ÉTAPE A SUIVRE</a></li>
                            <li><a href="{{ path('app_front_formations') }}" title="">LES FORMATIONS</a></li>
                            <li class="active"><a href="{{ path('app_front_monespace') }}" title="">MON ESPACE</a></li>
                            <li><a href="components.htm" title="">E-LEARNING</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row space40"></div>

        </div>
    </header>

    <section id="titlebar">
        <!-- Container -->
        <div class="container">

            <div class="eight columns">
                <h1 class="text-center">MON ESPACE</h1>
            </div>

        </div>
        <!-- Container / End -->
    </section>

    <!-- Content -->
    <div id="content">
        <div class="container">

            <div class="row">
                <!--  etape une -->
                <div class="span12">
                    <h4></h4>

                    <!-- Typography Row -->
                    <div class="row t-row">
                        <!-- Line -->
                        <div class="span12"><hr></div>
                        <div class="span9">

                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <h2>Mon profile</h2>
                                    <p>Veuillez consulter la page suivante pour voir votre profile:</p>

                                    <a href="{{ path('fos_user_profile_show') }}">
                                        <div class="btn btn-blue f-left">
                                            <!-- Title -->
                                            <h3><i class="icon-signin hidden-tablet"></i> Mon profile</h3>
                                        </div>
                                    </a>
                                    <div class="row space10"></div>

                                    <div class="row space50"></div>



                                {% else %}

                            <h2>INSCRIPTION</h2>
                            <p>Veuillez consulter la page suivante pour vous inscrire :</p>

                                <a href="{{ path('fos_user_registration_register') }}">
                                    <div class="btn btn-blue f-left">
                                        <!-- Title -->
                                        <h3><i class="icon-signin hidden-tablet"></i> JE M'INSCRIT</h3>
                                    </div>
                                </a>
                                    <div class="row space10"></div>

                                    <div class="row space50"></div>

                            <h2>CONNEXION</h2>
                            <p>Veuillez consulter la page suivante pour vous connecter :</p>
                            <a class="btn btn-blue" href="{{ path('fos_user_security_login') }}">


                                <h3><i class="icon-signin hidden-tablet"></i>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h3>

                            </a>


                                {% endif %}

                        </div>
                        <div class="space30 visible-phone"></div>
                        <!-- Line -->
                        <div class="span12"><hr></div>
                    </div>
                    <!-- Typography Row End -->
                    <div class="row space10"></div>

                    <div class="row space50"></div>
                </div>


            </div>
        </div>
    </div>
    <!-- Content End -->


{% endblock %}